/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); /* Shift 50% of the element width ... */
  text-align: center;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56f88, #28b48588), url(../img/hero.jpg);
  background-size: cover;
  background-position: top; /* Fix image at the top */
  position: relative; /*  Set a reference for the child components */

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); /* x y corner */
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.heading-primary {
  color: #ffff;
  text-transform: uppercase;

  backface-visibility: hidden; /* Remove little move at the end of the animation */
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block; /* Under each other */
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /*
  animation-iteration-count: 3;
  animation-delay: 1s;
  */
}

.heading-primary-sub {
  display: block; /* Under each other */
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block; /* Under block element */
  border-radius: 100px;
  transition: all .2s;
  position: relative; /*  Set a reference for the child components */
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: ''; /* Compulsory for ::after even if empty */
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after { /* After only when the button is hover */
  transform: scaleX(1.4) scaleY(1.6); /* Increase the element */
  opacity: 0; /* Do the special effect */
}

.btn-animated {
  animation: moveInBottom .5s ease-out .75s; /* Last: animation delay */
  animation-fill-mode: backwards; /* Button only visible when the animation start */
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
